body {
  font-family: Arial;
}
div, span, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

#center {
  background-color: #DDF;
  margin: 20px auto;
  padding: 50px;
  width: 600px;
}
#anvil {
  float: right;
  margin: 50px;
}
#editor {
    background-color: #EEE;
    display: block;
    margin: 50px auto 0;
    height: 300px;
    width: 600px;
}
#inventory {
  margin-right: 50px;
  width: 200px;
}
#inventory .slot {
  background-color: #FDF;
  display: block;
  height: 4em;
}
#inventory .slot:hover {
  
}
#popover {
  display: none;
  position: absolute;
  width: 100%;
}
.itemTypes, .materials {
  display: inline-block;
}
.materials {
    margin-left: 13px;
}
.itemType, .material {
  background-color: #EEE;
  border: 1px solid #000;
  color: #333;
  font-size: 8px;
  height: 8px;
  line-height: 1;
  margin: 0 2px 2px 0;
  overflow: hidden;
  padding: 11px 0;
  text-align: center;
  width: 30px;
}
.itemType.selected {
  border-color: green;
}
.material.selected {
  background-color: purple;
}
