body {
  font-family: Arial;
}
div, span, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

#center {
  background-color: #DDF;
  margin: 20px auto;
  padding: 50px;
  width: 600px;
}
#anvil {
  float: right;
  margin: 50px;
}
#inventory {
  margin-right: 50px;
  width: 200px;
}
#inventory .slot {
  background-color: #FDF;
  display: block;
  height: 4em;
}
#inventory .slot:hover {
  
}
#itemTypes {
  width: 80px;
}
.itemType {
  background-color: red;
  font-size: 10px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  width: 40px;
}
.itemType.selected {
  background-color: green;
}
.material.selected {
  background-color: purple;
}
