body {
  font-family: Arial;
}
body, div, input, li, span, ul, td, th {
  margin: 0;
  padding: 0;
}
li, ul {
  list-style: none;
}

#center {
  background-color: #DDF;
  margin: 20px auto;
  padding: 50px;
  width: 600px;
}
#anvil {
  float: right;
  margin: 50px;
}
#inventory {
  margin-right: 50px;
  width: 200px;
}
#inventory .slot {
  background-color: #FDF;
  display: block;
  height: 4em;
}
#inventory .slot:hover {
  
}

/* Editor Styles */

#popover {
  /*display: none;*/
  position: absolute;
  text-align: center;
  width: 100%;
}
#editor {
  background-color: #EEF;
  border: 4px solid #000;
  display: inline-block;
  font-size: 12px;
  margin: 50px;
  padding: 20px;
  position: relative;
  text-align: left;
}
#editor > * {
    display: inline-block;
    vertical-align: top;
}
.materials, #right-section {
  margin-left: 13px;
}
.itemType, .material {
  background-color: #FFF;
  border: 1px solid #000;
  color: #333;
  display: block;
  font-size: 10px;
  height: 10px;
  line-height: 1;
  margin: 0 2px 2px 0;
  padding: 15px 0;
  text-align: center;
  width: 40px;
}
.itemType:last-child, .material:last-child {
  margin-bottom: 0;
}
.selected {
  background-color: #E8E;
}
#name-and-durability > * {
  vertical-align: middle;
}
input {
  border: 1px solid #000;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}
#name-and-durability {
  font-size: 14px;
}
#name {
  width: 120px;
}
#durability {
  margin-left: 10px;
  width: 32px;
}
#enchants {
  background-color: #FFF;
  border: 1px solid #000;
  margin-top: 10px;
  padding: 10px 11px 10px 10px;
}
#enchants > table {
  table-layout: fixed;
  border-collapse: collapse;
}
#enchants td:first-child {
  padding-right: 5px;
}
#enchants td, #enchants th {
  height: 19px;
  vertical-align: middle;
}
.level {
  border: 1px solid #CCD;
  width: 19px;
}
.level.disabled {
  background-color: #CCD;
}
